/* 
    Created on : 18-jan-2015, 22:19:52
    Author     : Dylan Groenewoud
*/

* {
    margin:0 auto;
    font:1em 'Open Sans', sans-serif; 
    //color: white;
}

body
{
    //background-image: url("images/..");
    background-repeat: no-repeat;
}

h1 {
    font:1.5em 'Open Sans', sans-serif;
    font:1.5em 'Open Sans', sans-serif;
    margin-top: 25px;
    margin-left: 420px;
    text-align: center;
}

.p {
    text-align: center;
    font:1em 'Open Sans', sans-serif;
    margin-top: 10px;
}

.p1 {
    text-align: center;
    margin-top: 10px;
}

table, th, td {
    border: 2px solid grey;
    border-collapse: collapse;
    padding: 5px;
    margin: auto;
}

.content {
    text-align: center; 
}

.login {
    text-align: center;
    padding: 15px 30px;
}

.nav-main {
    width:100%;
    background-color: #222;
    height: 70px;
    color: #fff;
    font-size: 1.2em;
}

.nav-main .home {
    float: left;
    height: 40px;
    padding: 15px 30px;
    font-size: 1.4em;
    line-height: 40px;
    color: #fff;
}

.nav-main .title {
    text-align: center;
    height: 40px;
    padding-right: 500px;
    //padding: 15px 30px;
    padding-top: 20px;
    font-size: 1.4em;
    line-height: 40px;
    color: #fff;
}

.nav-main > ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}

.nav-main > ul > li {
    float: left;
}

.nav-item {
    display: inline-block;
    padding: 15px 20px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
}
.nav-item:hover {
    background-color: #444;
}

.nav-content {
    position: absolute;
    top: 70px;
    overflow: hidden;
    background-color: #222;
    color: #fff;
    max-height: 0;
}

.nav-content a {
    color: #fff;
    text-decoration: none;
}

.nav-content a:hover {
    text-decoration: underline;
}

.nav-content:hover {
    max-height:400px;
}

.nav-sub {
    padding: 20px;
}

.nav-sub ul {
    padding: 0;
    margin: 0;
    list-style-type: none; 
}

.nav-sub ul > li > a {
    display: inline-block;
    padding: 5px 0;
}

.nav-item:focus {
    background-color: #444
}

.nav-item:focus ~ .nav-content {
    max-height: 400px;
    -webkit-transition: max-height 0.4s ease-in;
    -moz-transition: max-height 0.4s ease-in;
    transition: max-height 0.4s ease-in;
}

.footer {
    background-color: #222;
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
}

#footerlinks {
    float: left;
    color: white;
    padding: 10px 5px;
}

#footerrechts {
    float: right;
    color: white;
    padding: 10px 5px;
}

a.test:visited{
background-color: transparent;
color: #fff;
text-decoration: underline;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
}

a.test:link {
    color: #fff;
}